@media screen and (max-width:890px) {
    nav{
        display: none;
    }
    #hero{
        height: initial;
        text-align: center;
    }
    .left{
        position: static;
    }
    .right{
        width: 100%;
    }
    footer .flex{
        flex-direction: column;
        text-align: center;
    }
    .flex-end{
        align-self: initial;
        text-align: center;
    }
}